@import "fonts";

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    font-family: "TTLakes";
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
}

.mobile-menu{
    min-width: 320px;
    &__wrapper{
    position: fixed;
    width: 320px;
    min-height: 100%;
    padding: 0 24px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    }
}

.header-blog{
    padding-top: 19px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__search-btn,
    &__close-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #FF3E79;
        height: 40px;
        width: 40px;
    }

    &__search-btn:hover,
    &__close-btn:hover{
        filter: grayscale(80%);
    }

    &__logo-link{
        margin-left: -60px;
    }
}

.menu{
    &__items{
        padding: 0;
        margin: 0;
        margin-bottom: 65px;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 24px;
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    &__item-link{
        font-size: 16px;
        color: #1B1C21;
        text-decoration: none;
    }

    &__item-link--focus{
        color: #7E7E82;
    }

    &__item-link--focus::before{
        content: "";
        background: #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 4px;
        height: 32px;
        position: absolute;
        left: 1px;
        top: 90px;

    }
}

.footer-blog{
    padding-bottom: 32px;
    &__callback{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }
    &__callback-phone-btn,
    &__callback-message-btn,
    &__callback-profile-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #FF3E79;
        height: 40px;
        width: 40px;
        background-size: cover;
        cursor: pointer;
    }

    &__callback-phone-btn:hover,
    &__callback-message-btn:hover,
    &__callback-profile-btn:hover{
        filter: grayscale(80%);
    }
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
    &__email{
        font-size: 16px;
        color: #1B1C21;
        text-decoration: none;
    }
    &__phone{
        font-size: 16px;
        color: #1B1C21;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        letter-spacing: -0.6px;
    }
}

.footer-language{
    display: flex;
    gap: 7px;
    text-transform: uppercase;
}

.ru-lang,
.en-lang,
.ch-lang{
    margin: 0;
}

.ru-lang--focus{
    color: #7E7E82;
}





